{% extends 'ivoryApp/women.html' %}

{% block content %}
<header>
    <h2>Accessories</h2>
    <form action="{% url 'search_bj' %}" method="post">
        {% csrf_token %}
        <input type="text" name="mySearch" placeholder="Search Term(s)" aria-label="Search" >
        <button type="submit">Search</button>
    </form>
</header>

<aside>
    {% if user.is_authenticated %}
    <a href="{% url 'yourbagjewel' %}">My Accessories</a>
    {% endif %}
    {% if allAccessories %}
    {% for eachBj in allAccessories %}
    <h5>{{ eachBj.bj_title }}</h5>
    <h5>
        <img src="{{eachBj.bj_picture.url}}" alt="image item">
    </h5>
    <ul> Size :
        {% for choice in form.bj_size.field.choices %}
        <li>
            <input type="radio" name="bj_size" value="{{choice.0}}"
                   {% ifequal form.bj_size.data choice.0 %}
                   checked="checked"
                   {% endifequal %}/>
            <label>
                {{choice.1}}
            </label>
        </li>
        {% endfor %}
    </ul>
    <h5>Price : {{ eachBj.bj_price }} $</h5>
    {% endfor %}
    {% endif %}
</aside>
{% endblock %}