{% extends 'ivoryApp/women.html' %}

{% block content %}
<h2>Dresses</h2>
{% if user.is_authenticated %}
<a href="{% url 'yourdress' %}">My Dresses</a>
{% endif %}
{% if allDresses %}
{% for eachdress in allDresses %}
<h5>{{ eachdress.dress_title }}</h5>
<h5>
    <img src="{{eachdress.dress_picture.url}}" alt="image item">
</h5>

<ul> Size :
    {% for choice in form.dress_size.field.choices %}
    <li>
        <input type="radio" name="dress_size" value="{{choice.0}}"
               {% ifequal form.dress_size.data choice.0 %}
               checked="checked"
               {% endifequal %}/>
        <label>
            {{choice.1}}
        </label>
    </li>
    {% endfor %}
</ul>


<h5>Price : {{ eachdress.dress_price }} $</h5>
{% if user.is_authenticated %}
<a href="{% url 'editdress' eachdress.id %}">Edit</a>
<a href="{% url 'deletedress' eachdress.id %}">Delete</a> <br> <br>
{% endif %}
{% endfor %}
{% endif %}
{% endblock %}