{% extends 'ivoryApp/men.html' %}

{% block content %}
<header>
    <h2>Shirts</h2>
    <form action="{% url 'search_s' %}" method="post">
        {% csrf_token %}
        <input type="text" name="mySearch" placeholder="Search Term(s)" aria-label="Search" >
        <button type="submit">Search</button>
    </form>
</header>
<aside>
    {% if user.is_authenticated %}
    <a href="{% url 'yourshirt' %}">My Shirts</a>
    {% endif %}
    {% if allShirts %}
    {% for eachSh in allShirts %}
    <div class="card" style="width: 22.8rem;">
        <img src="{{eachSh.s_picture.url}}" class="card-img-top" alt="image item">
        <div class="card-body">
            <h5 class="card-title">{{ eachSh.s_title }}</h5>
            <h5>
                Size :
                    {% for choice in form.s_size.field.choices %}
                        <input type="radio" name="s_size" value="{{choice.0}}"
                               {% ifequal form.s_size.data choice.0 %}
                               checked="checked"
                               {% endifequal %}/>
                        <label class="">{{choice.1}}</label>
                    {% endfor %}
            </h5>
            <h5>Price : {{ eachSh.s_price }} $</h5>
            <a href="#" class="btn btn-outline-danger">Add to cart</a>
        </div>
    </div>
<!--    <h5>{{ eachSh.s_title }}</h5>-->
<!--    <h5>-->
<!--        <img src="{{eachSh.s_picture.url}}" alt="image item">-->
<!--    </h5>-->

<!--    <ul>Size :-->
<!--        {% for choice in form.s_size.field.choices %}-->
<!--        <li>-->
<!--            <input type="radio" name="s_size" value="{{choice.0}}"-->
<!--                   {% ifequal form.s_size.data choice.0 %}-->
<!--                   checked="checked"-->
<!--                   {% endifequal %}/>-->
<!--            <label>{{choice.1}}</label>-->
<!--        </li>-->
<!--        {% endfor %}-->
<!--    </ul>-->

<!--    <h5>Price : {{ eachSh.s_price }} $</h5>-->
    {% endfor %}
    {% endif %}
</aside>
{% endblock %}