{% extends 'ivoryApp/women.html' %}

{% block content %}
<header>
    <h2>Shoes Women</h2>
    <form action="{% url 'search_sw' %}" method="post">
        {% csrf_token %}
        <input type="text" name="mySearch" placeholder="Search Term(s)" aria-label="Search" >
        <button type="submit">Search</button>
    </form>
</header>

<aside>
    {% if user.is_authenticated %}
    <a href="{% url 'yourshoeswomen' %}">My Shoes Women</a>
    {% endif %}
    {% if allShoesWomen %}
    <div class="miniGrid">
    {% for eachsw in allShoesWomen %}
    <div class="card" style="width: 22.8rem;">
        <img src="{{eachsw.sw_picture.url}}" class="card-img-top" alt="image item">
        <div class="card-body">
            <h5 class="card-title">{{ eachsw.sw_title }}</h5>
            <h5>
                Size :
                {% for choice in form.sw_size.field.choices %}
                <input type="radio" name="sw_size" value="{{choice.0}}"
                       {% ifequal form.sw_size.data choice.0 %}
                       checked="checked"
                       {% endifequal %}/>
                <label>{{choice.1}}</label>
                {% endfor %}
            </h5>
            <h5>Price : {{ eachsw.sw_price }} $</h5>
            <a href="#" class="btn btn-outline-danger">Add to cart</a>
        </div>
    </div>
    {% endfor %}
    </div>
    {% endif %}
</aside>
{% endblock %}