{% extends 'ivoryApp/men.html' %}

{% block content %}
<h2>Shoes Men</h2>
{% if user.is_authenticated %}
<a href="{% url 'yourshoesmen' %}">My Shoes Men</a>
{% endif %}
{% if allShoesMen %}
{% for eachsm in allShoesMen %}

<h5>{{ eachsm.sm_title }}</h5>
<h5>
    <img src="{{eachsm.sm_picture.url}}" alt="image item">
</h5>

<ul> Size :
    {% for choice in form.sm_size.field.choices %}
    <li>
        <input type="radio" name="sm_size" value="{{choice.0}}"
               {% ifequal form.sm_size.data choice.0 %}
               checked="checked"
               {% endifequal %}/>
        <label>
            {{choice.1}}
        </label>
    </li>
    {% endfor %}
</ul>

<h5>Price : {{ eachsm.sm_price }} $</h5>
{% if user.is_authenticated %}
<a href="{% url 'editshoesmen' eachsm.id %}">Edit</a>
<a href="{% url 'deleteshoesmen' eachsm.id %}">Delete</a> <br> <br>
{% endif %}
{% endfor %}
{% endif %}
{% endblock %}