{% extends 'ivoryApp/women.html' %}

{% block content %}
<h2>Shoes Women</h2>
{% if user.is_authenticated %}
<a href="{% url 'yourshoeswomen' %}">My Shoes Women</a>
{% endif %}
{% if allShoesWomen %}
{% for eachsw in allShoesWomen %}

<h5>{{ eachsw.sw_title }}</h5>
<h5>
    <a href="{% url 'readshoeswomen' eachsw.id %}">
        <img src="{{eachsw.sw_picture.url}}" alt="image item">
    </a>
</h5>
<h5>Size : {{ eachsw.sw_size }}</h5>
<h5>Price : {{ eachsw.sw_price }} $</h5>
{% if user.is_authenticated %}
<a href="{% url 'editshoeswomen' eachsw.id %}">Edit</a>
<a href="{% url 'deleteshoeswomen' eachsw.id %}">Delete</a> <br> <br>
{% endif %}
{% endfor %}
{% endif %}
{% endblock %}