{% extends 'ivoryApp/men.html' %}

{% block content %}
<header>
    <h2>T-Shirts</h2>
    <form action="{% url 'search_ts' %}" method="post">
        {% csrf_token %}
        <input type="text" name="mySearch" placeholder="Search Term(s)" aria-label="Search" >
        <button type="submit">Search</button>
    </form>
</header>

<aside>
    {% if user.is_authenticated %}
    <a href="{% url 'yourtshirt' %}">My T-Shirts</a>
    {% endif %}
    {% if allTshirts %}
    <div class="miniGrid">
    {% for eachTsh in allTshirts %}
    <div class="card" style="width: 22.8rem;">
        <img src="{{eachTsh.ts_picture.url}}" class="card-img-top" alt="image item">
        <div class="card-body">
            <h5 class="card-title">{{ eachTsh.ts_title }}</h5>
            <h5>
                Size :
                {% for choice in form.ts_size.field.choices %}
                <input type="radio" name="ts_size" value="{{choice.0}}"
                       {% ifequal form.ts_size.data choice.0 %}
                       checked="checked"
                       {% endifequal %}/>
                <label class="">{{choice.1}}</label>
                {% endfor %}
            </h5>
            <h5>Price : {{ eachTsh.ts_price }} $</h5>
            {% if user.is_authenticated %}
            <a href="#" class="btn btn-outline-danger">Add to cart</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
    </div>
    {% endif %}
</aside>
{% endblock %}