<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
{% block header %}
<h1>YVORY</h1>
<nav>
    <ul>
        <li>
            <a href="{% url 'index' %}">HOME</a>
        </li>
        <li>
            <a href="{% url 'men' %}">MEN</a>
        </li>
        <li>
            <a href="{% url 'women' %}">WOMEN</a>
        </li>
        <li>
            <a href="{% url 'shoppingCart' %}">CART</a>
        </li>
    </ul>
</nav>
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
<h1>I'm the footer</h1>
{% endblock %}
</body>
</html>