{% extends 'ivoryApp/base.html' %}

{% block content %}
<section>
<h4>Main page</h4>
<h4>Main page</h4>
<h4>Main page</h4>
<h4>Main page</h4>
<h4>Main page</h4>
<h4>Main page</h4>
<h4>Main page</h4>
<h4>Main page</h4>
<h4>Main page</h4>
<h4>Main page</h4>
<h4>Main page</h4>
<h4>Main page</h4>
<h4>Main page</h4>
<h4>Main page</h4>
</section>
<aside>
    <p>I'm the main page.</p>
    <p>I'm the main page.</p>
    <p>I'm the main page.</p>
    <p>I'm the main page.</p>
    <p>I'm the main page.</p>
    <p>I'm the main page.</p>
    <p>I'm the main page.</p>
</aside>

{% endblock %}
