<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
{% block header %}


{% if user.is_authenticated %}
<h1>YVORY</h1>
<nav>
    <ul>
        <li>{{ user.get_username }}</li>
        <li>
            <a href="{% url 'index' %}">HOME</a>
        </li>
        <li>
            <a href="{% url 'men' %}">MEN</a>
        </li>
        <li>
            <a href="{% url 'women' %}">WOMEN</a>
        </li>
        <li>
            <a href="{% url 'shoppingCart' %}">CART</a>
        </li>
        <li>
            <a href="{% url 'logout' %}">LOGOUT</a>
        </li>
    </ul>
</nav>

{% else %}
<h1>YVORY</h1>
<nav>
    <ul>
        <li>GUEST</li>
        <li>
            <a href="{% url 'index' %}">HOME</a>
        </li>
        <li>
            <a href="{% url 'men' %}">MEN</a>
        </li>
        <li>
            <a href="{% url 'women' %}">WOMEN</a>
        </li>
        <li>
            <a href="{% url 'shoppingCart' %}">CART</a>
        </li>
        <li>
            <a href="{% url 'newdesigner' %}">NEW DESIGNER</a>
        </li>
        <li>
            <a href="{% url 'login' %}">LOGIN</a>
        </li>
    </ul>
</nav>
{% endif %}
{% endblock %}
<h4>MEN'S COLLECTION</h4>
<ul>
    <li>
        <a href="{% url 'tshirtmen' %}">T-Shirt</a>
    </li>
    <li>
        <a href="{% url 'shirtmen' %}">Shirt</a>
    </li>
    <li>
        <a href="{% url 'pantsmen' %}">Pants</a>
    </li>
    <li>
        <a href="{% url 'shoesmen' %}">Shoes</a>
    </li>
</ul>

{% block content %}

{% endblock %}

{% block footer %}
<h1>I'm the footer</h1>
{% endblock %}
</body>
</html>
