{% extends 'ivoryApp/men.html' %}

{% block content %}
<aside>
    <h4>My Shirts</h4>
    {% if user.is_authenticated %}
    <a href="{% url 'newshirt' %}">Add Shirt</a>
    <div class="miniGrid">
    {% for eachshirt in personalShirts %}
    <div class="card" style="width: 22.8rem;">
        <img src="{{eachshirt.s_picture.url}}" class="card-img-top" alt="image item">
        <div class="card-body">
            <h5 class="card-title">{{ eachshirt.s_title }}</h5>
            <h5>Price : {{ eachshirt.s_price }} $</h5>
            <a href="{% url 'editshirt' eachshirt.id %}" class="btn btn-outline-danger">Edit</a>
            <a href="{% url 'deleteshirt' eachshirt.id %}" class="btn btn-outline-danger">Delete</a>
        </div>
    </div>
    {% endfor %}
    </div>
    {% else %}
    <h1>No Shirt Available</h1>
    {% endif%}
</aside>

{% endblock %}