{% extends 'ivoryApp/men.html' %}

{% block content %}
<h4>My Pants</h4>
{% if user.is_authenticated %}
<a href="{% url 'newpants' %}">Add Pant</a>
{% for eachpant in personalPants %}
<h5>{{ eachpant.pant_title }}</h5>
    <img src="{{ eachpant.pant_picture.url }}" alt="image item">
<h5>{{ eachpant.pant_size }}</h5>
<h5>{{ eachpant.pant_price }}</h5>
<a href="{% url 'editpants' eachpant.id %}">Edit</a>
<a href="{% url 'deletepants' eachpant.id %}">Delete</a> <br> <br>
{% endfor %}
{% else %}
<h1>No Pant Available</h1>
{% endif%}
<a href="{% url 'pantsmen' %}">BACK</a>
{% endblock %}