{% extends 'ivoryApp/men.html' %}

{% block content %}
<h4>My Shirts</h4>
{% if user.is_authenticated %}
<a href="{% url 'newshirt' %}">Add Shirt</a>
{% for eachshirt in personalShirts %}
<h5>{{ eachshirt.s_title }}</h5>
    <img src="{{ eachshirt.s_picture.url }}" alt="image item">
<h5>{{ eachshirt.s_size }}</h5>
<h5>{{ eachshirt.s_price }}</h5>
<a href="{% url 'editshirt' eachshirt.id %}">Edit</a>
<a href="{% url 'deleteshirt' eachshirt.id %}">Delete</a> <br> <br>
{% endfor %}

{% else %}
<h1>No Shirt Available</h1>
{% endif%}
<a href="{% url 'shirtmen' %}">BACK</a>
{% endblock %}