{% extends 'ivoryApp/women.html' %}

{% block content %}
<h4>My Dresses</h4>
{% if user.is_authenticated %}
<a href="{% url 'newdress' %}">Add Dress</a>
{% for eachdress in personalDresses %}
<h5>{{ eachdress.dress_title }}</h5>
<a href="{% url 'readdress' eachdress.id %}">
    <img src="{{ eachdress.dress_picture.url }}" alt="image item">
</a>
<h5>Size : {{ eachdress.dress_size }}</h5>
<h5>Price : {{ eachdress.dress_price }}</h5>
<a href="{% url 'editdress' eachdress.id %}">Edit</a>
<a href="{% url 'deletedress' eachdress.id %}">Delete</a> <br> <br>
{% endfor %}
{% else %}
<h1>No Dress Available</h1>
{% endif%}
<a href="{% url 'dress' %}">BACK</a>
{% endblock %}