{% extends 'ivoryApp/women.html' %}

{% block content %}
<aside>
    <h4>My Accessories</h4>
    {% if user.is_authenticated %}
    <a href="{% url 'newbagjewel' %}">Add Accessory</a>
    <div class="miniGrid">
    {% for eachbj in personalAccessories %}
    <div class="card" style="width: 22.8rem;">
        <img src="{{eachbj.bj_picture.url}}" class="card-img-top" alt="image item">
        <div class="card-body">
            <h5 class="card-title">{{ eachbj.bj_title }}</h5>
            <h5>Price : {{ eachbj.bj_price }} $</h5>
            <a href="{% url 'editbagjewel' eachbj.id %}" class="btn btn-outline-danger">Edit</a>
            <a href="{% url 'deletebagjewel' eachbj.id %}" class="btn btn-outline-danger">Delete</a>
        </div>
    </div>
    {% endfor %}
    </div>
    {% else %}
    <h1>No Accessory Available</h1>
    {% endif%}
</aside>
{% endblock %}