img{
    width: 350px;
    height: 330px;
}

body{
    margin: 1.5px 15px;
    background-color: rgba(255, 255, 0, 0.26);
}

/*Style for the links*/
a{
    color: darkgreen;
    list-style-type: none;
    text-decoration: none;
}


/*Hovering effect for the links*/
a:hover{
    color: rgba(0, 187, 0, 0.83);
}

/*Style for the buttons*/
button, input[type=submit]{
    border-radius: 10px;
    background-color: rgba(119, 23, 31, 0.73);
    color: white;
    height: 45px;
    width: 110px;
}

/*Hovering effect for the buttons*/
button:hover, input[type=submit]:hover{
    background: #5c041b;
}


.containerGrid{
    display: grid;
    grid-template-columns:  repeat(8, 1fr);
    grid-gap: 15px;
    grid-template-areas:
            "nav nav nav nav nav nav nav nav"
            ". section section section section aside aside aside"
            "footer footer footer footer footer footer footer footer";
}

/*Display of the navBar*/
nav{
    grid-area: nav;
    height:100px;
    border-radius: 10%;
}

a.navbar-brand{
    margin-left: 5%;
    color: #a71d2a;
    font-weight: bold;
}

li.nav-item.active{
    margin-left: 22%;
}

section{
    grid-area: section;
    grid-row: 2;
    padding: 20px;
}

aside{
    grid-area: aside;
}

/*Display of the footer*/
.footer{
    grid-area: footer;
    text-align: center;
    height: 100px;
    background: rgba(255, 255, 0, 0.52);
    border-radius: 10%;
}

.smallImage{
    width:20%;
    height:27%;
    border-radius: 90px;
    margin-right: 20px;
}

.icon{
    width: 32px;
    height: 32px;
}

.icon2{
    width: 45px;
    height: 40px;
}