img{
    width: 350px;
    height: 330px;
}

body{
    margin: 1.5px 15px;
}

/*Style for the links*/
a{
    color: darkgreen;
    list-style-type: none;
    text-decoration: none;
}


/*Hovering effect for the links*/
a:hover{
    color: rgba(0, 187, 0, 0.83);
}

/*Style for the buttons*/
button, input[type=submit]{
    border-radius: 10px;
    background-color: rgba(119, 23, 31, 0.73);
    color: white;
    height: 45px;
    width: 110px;
}

/*Hovering effect for the buttons*/
button:hover, input[type=submit]:hover{
    background: #5c041b;
}


.containerGrid{
    display: grid;
    grid-template-columns:  repeat(5, 1fr);
    grid-gap: 15px;
    grid-template-areas:
            "nav nav nav nav nav"
            /*". . header header"*/
            "section section section aside aside"
            "footer footer footer footer footer";
}

/*Display of the navBar*/
nav{
    grid-area: nav;
    height:100px;
}

a.navbar-brand{
    margin-left: 5%;
}

li.nav-item.active{
    margin-left: 42%;
}


/*header{*/
/*    grid-area: header;*/
/*}*/

/*Display of the content of the body*/
section{
    grid-area: section;
    grid-row: 2;
    padding: 20px;
}

aside{
    grid-area: aside;
}



/*Display of the footer*/
.footer{
    grid-area: footer;
    text-align: center;
    height: 100px;
    background: rgba(0, 33, 0, 0.34);
    border-radius: 10px;
}
