img{
    width: 350px;
    height: 330px;
}

body{
    margin: 1.5px 15px;
}

/*Style for the links*/
a{
    color: darkgreen;
    list-style-type:square;
    text-decoration: none;
}

/*Hovering effect for the links*/
a:hover{
    text-decoration: none;
    color: rgba(0, 187, 0, 0.83);
}

/*Style for the buttons*/
button, input[type=submit]{
    border-radius: 10px;
    background-color: rgba(119, 23, 31, 0.73);
    color: white;
    height: 45px;
    width: 110px;
}

/*Hovering effect for the buttons*/
button:hover, input[type=submit]:hover{
    background: #5c041b;
}

/*Display the items*/
.miniGrid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}

/*Display the whole body*/
.containerGrid{
    display: grid;
    grid-template-columns:  repeat(4, 1fr);
    grid-gap: 15px;
    grid-template-areas:
            "nav nav nav nav"
            ". . header header"
            "section aside aside aside"
            "footer footer footer footer";
}

/*Display of the navBar*/
nav{
    grid-area: nav;
    height:100px;
    border-radius: 10%;
}

a.navbar-brand{
    margin-left: 5%;
}

li.nav-item.active{
    margin-left: 42%;
}


div #list-tab .list-group{
    box-sizing: content-box;
}

header{
    grid-area: header;
}

/*Display of the content of the body*/
section{
    grid-area: section;
    padding: 20px;
}

aside{
    grid-area: aside;
}


/*Display of the footer*/
.footer{
    grid-area: footer;
    text-align: center;
    height: 100px;
    background: rgba(0, 33, 0, 0.34);
    border-radius: 10px;
}

.verySmallImage{
    width:23%;
    height:1%;
    border-radius: 40px;
}

div#list-tab.list-group{
    text-align: center;
}

a.nav-link.one{
    color: #a71d2a;
    font-weight: bold;
}