{% extends 'ivoryApp/base.html' %}

{% block content %}
<aside>
    {% if research_sw %}
    {% for eachsw in research_sw %}
    <div class="card" style="width: 22.8rem;">
        <img src="{{eachsw.sw_picture.url}}" class="card-img-top" alt="image item">
        <div class="card-body">
            <h5 class="card-title">{{ eachsw.sw_title }}</h5>
            <h5>Price : {{ eachsw.sw_price }} $</h5>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <h3>No such information</h3> <br>
    {% endif %}
    <a href="{% url 'shoeswomen' %}">&#10237; Previous Page</a>
</aside>

{% endblock %}