{% extends 'ivoryApp/base.html' %}

{% block content %}
<aside>
    {% if research_sw %}
    {% for eachsw in research_sw %}
    <h5>{{eachsw.sw_title}}</h5>
    <h5>
        <img src="{{eachsw.sw_picture.url}}" alt="image item">
    </h5>
    <ul> Size :
        {% for choice in form.sw_size.field.choices %}
        <li>
            <input type="radio" name="sw_size" value="{{choice.0}}"
                   {% ifequal form.sw_size.data choice.0 %}
                   checked="checked"
                   {% endifequal %}/>
            <label>
                {{choice.1}}
            </label>
        </li>
        {% endfor %}
    </ul>
    <h5>Price : {{ eachsw.sw_price }} $</h5>
    {% endfor %}
    {% else %}
    <h3>No such information</h3> <br>
    <a href="{% url 'shoeswomen' %}">&#10237; BACK</a>
    {% endif %}
</aside>

{% endblock %}