{% extends 'ivoryApp/base.html' %}

{% block content %}
<aside>
    {% if research_pant %}
    <div class="miniGrid">
    {% for eachpant in research_pant %}
    <div class="card" style="width: 22.8rem;">
        <img src="{{eachpant.pant_picture.url}}" class="card-img-top" alt="image item">
        <div class="card-body">
            <h5 class="card-title">{{ eachpant.pant_title }}</h5>
            <h5>Price : {{ eachpant.pant_price }} $</h5>
        </div>
    </div>
    {% endfor %}
    </div>
    {% else %}
    <h3>No such information</h3>
    {% endif %}
    <a href="{% url 'pantsmen' %}">&#10237; Previous Page</a>
</aside>
{% endblock %}