{% extends 'ivoryApp/base.html' %}

{% block content %}
<aside>
    {% if research_s %}
    {% for eachs in research_s %}
    <div class="card" style="width: 22.8rem;">
        <img src="{{eachs.s_picture.url}}" class="card-img-top" alt="image item">
        <div class="card-body">
            <h5 class="card-title">{{ eachs.s_title }}</h5>
            <h5>Price : {{ eachs.s_price }} $</h5>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <h3>No such information</h3> <br>
    {% endif %}
    <a href="{% url 'shirtmen' %}">&#10237; Previous Page</a>
</aside>

{% endblock %}