{% extends 'ivoryApp/base.html' %}

{% block content %}
<aside>
    {% if research_bj %}
    <div class="miniGrid">
    {% for eachbj in research_bj %}
    <div class="card" style="width: 22.8rem;">
        <img src="{{eachbj.bj_picture.url}}" class="card-img-top" alt="image item">
        <div class="card-body">
            <h5 class="card-title">{{ eachbj.bj_title }}</h5>
            <h5>Price : {{ eachbj.bj_price }} $</h5>
        </div>
    </div>
    {% endfor %}
    </div>
    {% else %}
    <h3>No such information</h3> <br>
    {% endif %}
    <a href="{% url 'bagjewel' %}">&#10237; Previous Page</a>
</aside>

{% endblock %}