{% extends 'ivoryApp/base.html' %}

{% block content %}
<aside>
    {% if research_ts %}
    {% for eachts in research_ts %}
    <div class="card" style="width: 22.8rem;">
        <img src="{{eachts.ts_picture.url}}" class="card-img-top" alt="image item">
        <div class="card-body">
            <h5 class="card-title">{{ eachts.ts_title }}</h5>
            <h5>Price : {{ eachts.ts_price }} $</h5>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <h3>No such information</h3> <br>
    {% endif %}
    <a href="{% url 'tshirtmen' %}">&#10237; Previous Page</a>
</aside>

{% endblock %}