{% extends 'ivoryApp/base.html' %}

{% block content %}

<aside>
    {% if research_sm %}
    <div class="miniGrid">
    {% for eachsm in research_sm %}
    <div class="card" style="width: 22.8rem;">
        <img src="{{eachsm.sm_picture.url}}" class="card-img-top" alt="image item">
        <div class="card-body">
            <h5 class="card-title">{{ eachsm.sm_title }}</h5>
            <h5>Price : {{ eachsm.sm_price }} $</h5>
        </div>
    </div>
    {% endfor %}
    </div>
    {% else %}
    <h3>No such information</h3> <br>
    {% endif %}
    <a href="{% url 'shoesmen' %}">&#10237; Previous Page</a>
</aside>

{% endblock %}